

.app__navbar{
 background: rgb(95, 219, 219);
  height: auto;
  display: grid;
  grid-template-rows:  1fr  1fr 1fr 1fr 1fr 80px;
  grid-template-columns:200px repeat(2,1fr);
  

.app__navbar-header{

  grid-column: 1/ span 3;

  border: 0.5px;
  border-bottom-style: solid;
  border-radius: 15px;
 
  }

.app__navbar-body{
    grid-row: 2/span 6 ;
    grid-column: 1/span 3;
    background: rgb(61, 59, 192);
    justify-content: center;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:  1fr;
    grid-gap: 10px;

}

.app__navbar-footer{
    background: rgb(201, 51, 133);
    grid-row: 6/7;
    grid-column: 1/ span 3;
    border: 0.5px;
    border-top-style: solid;
    border-radius: 15px;
}

}

// product card home

.app_productCardHome{
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows:repeat(auto-fill,1fr);
  justify-content: center;
  align-content: center;
  padding: 100px;
 // background: rgb(214, 200, 77);


  .app_productCardTitle{
    display: flex;
    //justify-content: center;
    background: rgb(69, 59, 221);
    height: 50px;
  }

  .app_productCardImg{

    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns:  1fr 1fr 1fr;
    align-content: space-between;

   // justify-content: center;
    //justify-items: center;
       
    div{
          width: 100px;
         // background-color: rgb(160, 37, 105);

          img{
            width: 100px;
          }
        }
      
  }

 
}


